BraveSoftware/
Scripts/
QtProject.conf
Trolltech.conf
pulse/
Code - OSS/
JetBrains/
KDE/
baloofilerc
bluedevilglobalrc
cef_user_data/
configstore/
dconf/
discoverrc
flameshot/
gtk-3.0/assets/
Postman/
gtk-4.0/
gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
kcminputrc
kconf_updaterc
kde.org/
kded5rc
kdedefaults/
kdeglobals
kglobalshortcutsrc
kinfocenterrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
libaccounts-glib/
mimeapps.list
obsidian/
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmarc
plasmashellrc
powermanagementprofilesrc
sddmthemeinstallerrc
session/
systemmonitorrc
systemsettingsrc
user-dirs.dirs
user-dirs.locale
volumeicon/
xdg-desktop-portal-kderc
xfce4/
xsettingsd/
btop/
ranger/
xournalpp/
